@model PasteModel

<div>
    <h1 class="textColor"> @Model.Title </h1>
    <p class="textColor"> @Model.Text </p>
    <p class="textColor"> @Model.CreateAt </p>
    <p class="textColor"> @Model.DeleteDate </p>
</div>
