@model PasteModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-danger">
        <p> @ViewBag.Text </p>
    </div>
    <form method="post" asp-area="Home" asp-controller="Home" asp-action="Index">
        <textarea class="inputText" asp-for="Text"></textarea>
        <div class="wrap">
            <div class="block">
                <div class="form-floating mb-3">
                    <input asp-for="Title" class="form-control" />
                    <label asp-for="Title" class="form-label">Название</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Topic" class="form-control" />
                    <label asp-for="Topic" class="form-label">Тема</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="DeleteDate" class="form-control" />
                    <label asp-for="DeleteDate" class="form-label">Дата удаления</label>
                </div>
            </div>
            <div class="block text-color">
                <p style="margin-top: 14px;" class="text-danger"> @ViewBag.Name </p>
            </div>
        </div>
        <button action="sumbit" class="btn btn-lg btn-primary create-btn">Создать</button>
    </form>
    <div class="text-color">
        <button class="btn btn-lg btn-primary create-btn">Скопировать ссылку</button>
        <a class="links" href="@ViewBag.UrlToPaste" id="url-fields"> @ViewBag.UrlToPaste </a>
        <p class="link-alert">Ссылка скопирована</p>
    </div>
</div>
