@model PasteModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" asp-area="Home" asp-controller="Home" asp-action="Article">
        <textarea class="inputText" asp-for="Text"></textarea>
        <div class="wrap">
            <div class="text-color block">
                <p style="margin-top: 14px;"> Название: </p>
                <p> Описание: </p>
                <p> Дата удаления поста: </p>
            </div>
            <div class="block">
                <input asp-for="Title" class="inputText" />
                <input asp-for="Description" class="inputText" />
                <input asp-for="DeleteDate" class="inputText" />
            </div>
        </div>
        <button action="sumbit" class="create-btn">Создать</button>
    </form>
</div>
