html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0d1117;
}

div.text-color {
    color: white;
}

nav.bg {
    background-color: #171a1f;
}

footer.bg {
    background-color: #171a1f;
}

a.links {
    color: white;
    margin: 10px 5px 10px 15px;
    text-decoration: none;
}

textarea.inputText {
    border-radius: 5px;
    background-color: #2b4462;
    color: white;
    width: 1300px;
    height: 500px;
    padding: 13px;
}

input.inputText {
    border-radius: 5px;
    background-color: #2b4462;
    color: white;
    margin-top: 10px;
}

h1.textColor {
    color: white;
}

.wrap {
    width: 1310px;
    margin: 0 auto;
    height: 120px;
}

p.textColor {
    color: white;
}

.block {
    float: left;
    width: 200px;
}

button.create-btn {
    border-radius: 15px;
    background: #2b4462;
    color: white;
    padding: 6px;
    width: 186px;
    margin-top: 15px;
}